absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
asttokens
async-timeout
attrs
Brotli
certifi
cffi
charset-normalizer
comm
contourpy
cycler
datasets
debugpy
decorator
# deepspeed
diffusers
dill
einops
et_xmlfile
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
gmpy2
h2
hf-xet
hjson
hpack
huggingface-hub
hyperframe
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
kornia
kornia_rs
lpips
MarkupSafe
matplotlib
matplotlib-inline
mpmath
msgpack
multidict
multiprocess
nest_asyncio
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
opencv-python
openpyxl
packaging
pandas
parso
peft
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scipy
sentencepiece
six
stack_data
sympy
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
transforms
triton
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl
zipp
zstandard
